.App {
  text-align: center;
  border-bottom: 1px solid #191919;
}

#navbar{
  background-color:black;
  padding: 1.5%;

}
#link{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
  word-spacing: 30px;

  text-decoration: none;
  

}

a:hover{
  color: purple;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

hr {
  margin: 0;
  border: 1px solid red;
}

